<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="/javascripts/jquery-3.4.1.js"></script>
<style type="text/css">
body {
  background-color: #d6d6d3;
  height: 100vh;
  width: 100vw;
  display: flex;
     flex-direction:column;
	 justify-content: flex-start;
     align-items:center;
  	margin: 0;
}
</style>

  <title>各期績效分析清單</title>
  </head>
  <body>
  <table>
  <tr>
  <h4><%= statusreport %></h4>
  </tr>
  <tr>
    <td>
      <form  action="/api/perform/checkassign" method="get" >
     ：<input type="text" name="assign" required>
     <input type="hidden" name="statusreport" value="分析完成">
     <input type="submit" value="分析">
     </form>
     </td>
    <td>
  <a href="/">回主功能選單</a>
  </td>
  </tr>    
  </table>
  <div id="pageindex"></div>
      <table border="1" class="table table-striped">
          <thead>
          <tr>
              <th>ID</th>
              <th>對應猜值ID</th>
              <th>流水期別</th>                          
              <th>累計獎金期望值</th>
              <th>平均猜中個數</th>
              <th>比前次猜值提升率</th>              
              <!--             <th>特別註記</th>                   -->
              
          </tr>
          </thead>
          <tbody id="performpages">
          <% for(let perform of performlist) { %>
              <tr>
                <td><%= perform._id %></td>
                <td><%= perform.a05hit_ids %></td>
                <td><%= perform.a10waterno %></td>                  
                  <td><%= perform.a15expectaward %></td>
                  <td><%= perform.a20hitmean %></td>
                  <td><%= perform.a25progress %></td>             
  <!--                 <td>${perform.a99footnote}</td>                 -->
                  <td>
                   <form  action="/api/perform/delete/<%= perform._id %>" method="get" >
              <input type="submit" value="刪除">
              </form>
              <% } %>
                  </td>
              </tr>
          </c:forEach>
          </tbody>
      </table>
  </body>
</html>
